/log.test-*
/log.make*
/B-Generate-*.tar.gz
pm_to_blib
/MYMETA.json
/MYMETA.yml
/Makefile
/TAGS
/*.patch
/cover_db
/blib
t/reports/
/status_upd
/store_rpt
/Generate.c*
/Generate.i*
/Generate.o
/Generate.xs.gcov
/Generate.gc*
